*{
  padding:0%;
  margin:0%;
}
.body,html{
    background-repeat: no-repeat;
    background-image: url("https://images8.alphacoders.com/134/1347727.png");
    background-size: cover;
    height: 730px;
    width:  100%;
} 
.container#blur.active{

  filter:blur(20px);
  pointer-events: none;
  user-select:none ;
}
.container.text-container{
  position: relative;
}
  .text-container {
    justify-content:flex-start;
    display:flex;
    text-align: center;
    background-image: none;
    color:white;
    font-size: 25px;
    margin:0px 0px 50px 0px;
    border:0px;
  }
  .home{
    padding: 20px 25px 30px 420px;
    text-decoration: none;
    color:rgb(232, 223, 226);
    transition: all 1s ease-in-out;
  }
  .log{
    padding: 20px 25px 30px 10px;
    text-decoration: none;
    color:rgb(232, 223, 226);
    transition: all 1s ease-out;
  }
  .gallery{

    padding: 20px 30px 30px 10px;
    text-decoration: none;
    color:rgb(232, 223, 226);
    transition: all 1s ease-out;
  }
  .abtus{
    padding: 20px 0px 30px 20px;
    text-decoration: none;
    color:rgb(232, 223, 226);
    transition: all 1s ease-out;

  }
  .signup{

    padding: 20px 25px 30px 20px;
    text-decoration: none;
    color:rgb(232, 223, 226);
    transition: all 1s ease-out;
  }
 a:hover{  
  color:rgb(223, 68, 182);
  text-decoration: underline;
 }
 i:hover{
  color:rgb(223, 68, 182);
 }
  .contact{
    padding: 20px 25px 30px 50px;
    text-decoration: none;
    color:rgb(232, 223, 226);
    transition:all 1s ease-out;
  }
  .insta{
    padding: 20px 25px 30px 30px;
    width: 28px;
    height:28px;
    border-radius:20px;
  
  }
  #popup{
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    margin:10px 50px 50px 20px;
    height:600px;
    box-shadow: 0px 5px 30px rgb(0,0,0,.30);
    background:black;
    color:white;
    font-size: 17px;
    border-radius: 30px;
    visibility:hidden;
    opacity:0;
    transition:1s;
  }
  #pop{
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    margin:10px 50px 50px 20px;
    height:700px;
    box-shadow: 0px 5px 30px rgb(0,0,0,.30);
    background:black;
    color:white;
    font-size: 17px;
    border-radius: 30px;
    visibility:hidden;
    opacity:0;
    transition:1s;
  }
  .username1{
    font-size: 20px;
    padding:30px 100px 10px 10px;
  }
  .firsttext1{
    width:90%;
    height:30px;
    border-radius: 30px;
    margin:10px 80px 5px 5px;
  }
  #pop.active{
    background-color: rgba(0,0,0,0.7);
    top:50%;
    visibility:visible;
    opacity:1;
    transition:1s;
  }
  #popup.active{
    background-color: rgba(0,0,0,0.7);
    top:50%;
    visibility:visible;
    opacity:1;
    transition:1s;
  }
  .name{
    font-size:50px;
    text-align:center;
    padding:10px 30px 20px 30px;
    color:rgb(234, 107, 44);
   }
.username{
  font-size: 25px;
  padding:30px 100px 10px 15px;
}
.password{
  font-size: 25px;
  padding:30px 100px 10px 15px;
}
.firsttext{
  width:90%;
  height:30px;
  border-radius: 10px;
  margin:20px 80px 10px 15px;
}
.secondtext{
  width:90%;
  border-radius: 10px;
  height:30px;
  margin:20px 80px 10px 15px;
}
.log_in{
  font-size: 22px;
  border-radius:10px;
  margin:20px 2px 5px 150px;
  width:90px;
  height:40px;
  background-color:rgb(234, 107, 44);
}
.rmmbr-me{
  font-size: 17px;
  margin:15px 150px 15px 1px;
}
.yet{
  margin:10px 50px 5px 110px;
}
.sign-up{
  text-align: center;
  text-decoration: none;
  color:rgb(234, 107, 44);
}
.close{
  text-decoration: none;
  margin:15px 50px 10px 170px;
  font-size: 20px;
  color:rgb(234, 107, 44);
}
  .main{
    margin:170px 0px 130px 0px;
    font-size: 50px;
    color:rgb(225,225,225,.01);
    background-image: url("https://t3.ftcdn.net/jpg/01/78/36/88/360_F_178368809_Dmu2pp2MoXDXoB1IUUiM7tpjlT0sJ3tM.jpg");
    background-clip:inherit;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-align:center;
    font-weight: 1000;
    font-family:lucida handwriting, sans-serif;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  } 

.detail{
  background-color: rgb(0,0,0,0.7);
  width:1519px;
  height:207px;
  text-align: center;
}
.text{
  color:rgb(241, 228, 228);
  font-size: 23px;
  font-family:times new roman, sans-serif;
  font-weight:lighter;
}
/* .loading-state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
} */